          <div id="tree"></div>
    <script>
      #macro(displayNode $node)
            {
              text: "$node"
      #if ($node.children.size() > 0)
              ,"nodes": [
              #foreach ($child in $node.children)
              #displayNode($child)
              #if( $foreach.hasNext ), #end
              #end
              ],
              icon: "icon ion-folder"
      #else
              ,icon: "icon ion-asterisk",
              href: "${baseDir}$node.item"
      #end
            }
    #end
    
    
      var tree = [
        {
          text: "Task Graph",
          icon: "icon ion-network",
          href: "${baseDir}index.html"
        },
        #displayNode($taskTree),
        #displayNode($tablesTree)
      ];

      $('#tree').treeview({data: tree, enableLinks: true, highlightSelected: false});
    </script>

