<!DOCTYPE html>
<html>
  <head>
    #parse("templates/headCommon.vm")
    <title>Tasks</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-3 sidebar">
          #parse("templates/navBar.vm")
        </div>
        <div class="col-sm-7 col-sm-offset-5 col-md-9 col-md-offset-3 main">
          <h1 class="page-header">Tasks</h1>
          <div class="mermaid">
            graph LR
            #foreach( $task in $tasks )
            ${tasks.indexOf($task)}(<a href="$baseDir$urlHelper.urlFromTaskName($task.task.name)">$task.task.name</a>)
            #foreach( $parentTask in $task.parents )
            ${tasks.indexOf($parentTask)} --> ${tasks.indexOf($task)}
            #end
            #end
          </div>
        </div>
      </div>
    </div>
    #parse("templates/footerCommon.vm")
  </body>
</html>
